<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <div th:fragment="searchview" class="content">
    <header class="forum_header faq_header">
      <h3>Search</h3>
    </header>
    <!-- Search -->
    <section class="forum_search">
      <div class="forum_search_keywords">
        <div class="forum_search_labelwrapper">
          <label for="search">Search by keywords:</label>
        </div>
        <div class="forum_search_inputwrapper">
          <input type="text" id="search" name="search">
        </div>
      </div>
      <div class="forum_search_author">
        <div class="forum_search_labelwrapper">
          <label for="search">Search by author:</label>
        </div>
        <div class="forum_search_inputwrapper">
          <input type="text" id="search_by_author" name="search_by_author">
        </div>
      </div>
      <div class="forum_search_category">
        <div class="forum_search_labelwrapper">
          <label for="search">Search by category:</label>
        </div>
        <div class="forum_search_inputwrapper">
          <input type="text" id="search_by_category" name="search_by_category">
        </div>
      </div>
      <div class="forum_search_options">
        <fieldset>
          <legend>Select search options:</legend>
          <div>
            <select name="searchopts" id="search-options">
              <option value="">-- Search options --</option>
              <option value="time">Post time</option>
              <option value="author">Author</option>
              <option value="forum">Forum</option>
            </select>
          </div>
          <div>
            <input type="radio" id="huey" name="drone" value="huey" checked />
            <label for="huey">Ascending</label>
          </div>
          <div>
            <input type="radio" id="dewey" name="drone" value="dewey" />
            <label for="dewey">Descending</label>
          </div>
        </fieldset>
      </div>
    </section>
  </div>
</html>
