<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <div th:fragment="threadview" class="content">
    <header class="forum_header category_header">
      <a href="/">Forums</a>
      <i style="font-size: 1.25rem; padding: 0.5rem;">>></i>
      <a 
        th:href="@{/category(categoryId=${category.id})}"
        href="/category" 
        title="Click here to continue to the category link">
        <th:block th:text="${category.topic}"></th:block>
      </a>
      <i style="font-size: 1.25rem; padding: 0.5rem;">>></i>
      <a
        th:href="@{/category/thread/(threadId = ${thread.id})}" 
        hfef="/category/thread"
        title="Click here to continue to the thread link">
      <th:block th:text="${thread.subject}"></th:block>
      </a>
      <!-- Only shows up to authenticated users -->
      <th:block th:if="${authenticated}">
        <a 
          class="forum_category_newthread"
          th:href="@{/category/thread/reply/{id}(id = ${thread.id})}" 
          href="/category/thread/reply/"
          >Reply to thread</a>
      </th:block>
    </header>
    <!-- Thread Original Poster -->
    <section class="forum_thread_section_op">
      <!-- Thread OP content -->
      <div th:replace="fragments/threadview-op.html :: threadview-op"></div>
    </section>
    <section th:each="reply : ${replies}" class="forum_thread_section_reply">
    <!-- Thread content -->
      <!-- Author of the post -->
      <div th:replace="fragments/threadview-reply-profile.html :: threadview-reply-profile"></div>
    <div class="forum_thread_section_post">
      <!-- Content of the post -->
      <div th:replace="fragments/threadview-reply-content.html :: threadview-reply-content"></div>
    </section>
  </div>
</html>
