<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <div th:fragment="threadview" class="content">
    <header class="forum_header faq_header">
      <h3><th:block th:text="${thread.subject}"></th:block></h3>
      <a 
        class="forum_category_newthread"
        th:href="@{/category/thread/reply/{id}(id = ${thread.id})}" 
        href="/category/thread/reply/"
        >Reply to thread</a>
    </header>
    <!-- Thread Original Poster -->
    <section class="forum_thread_section_op">
      <!-- Thread OP content -->
      <div th:replace="fragments/threadview-op.html :: threadview-op"></div>
    </section>
    <section th:each="reply : ${replies}" class="forum_thread_section_reply">
    <!-- Thread content -->
      <!-- Author of the post -->
      <div th:replace="fragments/threadview-reply-profile.html :: threadview-reply-profile"></div>
    <div class="forum_thread_section_post">
      <!-- Content of the post -->
      <div th:replace="fragments/threadview-reply-content.html :: threadview-reply-content"></div>
    </section>
  </div>
</html>
