<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="This is an example of a meta description.">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
  <title>FAQ | Demo Forums</title>
</head>
  <body>
  <main>
    <div th:replace="fragments/header.html :: header"></div>
    <div th:replace="fragments/subheader-profile.html :: subheader-profile"></div>
    <div th:replace="fragments/questions.html :: questions"></div>
  </main>
  </body>
</html>
